<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<%- include('../partials/headers') %>

<div class="container">
    <%- body %>
</div>

<%- include('../partials/footer') %>
</body>
</html>
