<!DOCTYPE html>
<html>
<head>
    <title>Lista Użytkowników</title>
</head>
<body>
<h1>Użytkownicy</h1>
<ul>
    <% if(users.length > 0){ %>
        <% users.forEach(function(user) { %>
            <% let formattedDate = new Date(user.registered).toLocaleDateString(); %>
            <li><%= user.name %> - zarejestrowany: <%= formattedDate %></li>
        <% }); %>
    <% } else { %>
        <li>Brak użytkowników do wyświetlenia.</li>
    <% } %>
</ul>
</body>
</html>